[submodule "tmux/.tmux/plugins/tpm"]
	path = tmux/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "zsh/.config/.oh-my-zsh"]
	path = zsh/.oh-my-zsh
	url = git@github.com:ohmyzsh/ohmyzsh.git
[submodule "zsh/.config/zsh-custom/zsh-autosuggestions"]
	path = zsh/.config/zsh-custom/zsh-autosuggestions
	url = git@github.com:zsh-users/zsh-autosuggestions.git
