[submodule "tmux/.tmux/plugins/tpm"]
	path = tmux/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "zsh/.config/.oh-my-zsh"]
	path = zsh/.oh-my-zsh
	url = git@github.com:ohmyzsh/ohmyzsh.git
[submodule "zsh/.config/zsh-custom/zsh-autosuggestions"]
	path = zsh/.config/zsh-custom/plugins/zsh-autosuggestions
	url = git@github.com:zsh-users/zsh-autosuggestions.git
[submodule "zsh/.config/zsh-custom/themes/powerlevel10k"]
	path = zsh/.config/zsh-custom/themes/powerlevel10k
	url = git@github.com:romkatv/powerlevel10k.git
[submodule "zsh/.config/zsh-custom/plugins/zsh-syntax-highlighting"]
	path = zsh/.config/zsh-custom/plugins/zsh-syntax-highlighting
	url = git@github.com:zsh-users/zsh-syntax-highlighting.git
[submodule "tmux/.tmux/plugins/tmux"]
	path = tmux/.tmux/plugins/tmux
	url = https://git::@github.com/dracula/tmux
[submodule "tmux/.tmux/plugins/vim-tmux-navigator"]
  path = tmux/.tmux/plugins/vim-tmux-navigator
  url = https://github.com/christoomey/vim-tmux-navigator.git

